<section>
    <h3>Sign in</h3>
    <form method="post" action="">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Login</label>
            <input type="text" id="password" name="password" class="form-control"Password />
        </div>
        <input type="submit" class="btb btn-success" />
    </form>
</section>